@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply xl:text-[90px] lg:text-[60px] md:text-[48px] text-[35px] font-normal leading-[1];
  }
  h2{
    @apply lg:text-[20px] md:text-[17px] text-[14px];
  }
  p, span, li{
    @apply lg:text-[20px] text-[14px] font-light;
  }
  button{
    @apply text-[14px]
  }

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.section1{
  /*background-image: url("/img/background.png");
  background-size: cover ;
  background-repeat: no-repeat;
  background-attachment: local;*/
  @media (min-width: 1920px) {
    background-position: right 0 bottom 162%;
  }
  @media (max-width: 600px) {
    background-position: right 90% bottom 12%;
  }
}

.progettazione{
  background-image: url("/img/progettazione/mmsystems-5B.png");
  background-size: cover;
  background-color: white;
}

.meccanica{
  background-image: url("/img/progettazione/meccanica/mmsystems-11.png");
  background-size: cover;
  background-position: 0 40%;
  background-color: white;
}

.elettrica{
  background-image: url("/img/progettazione/elettrica/mmsystems-16.png");
  background-size: cover;
  background-position: 0 40%;
  background-color: white;
}

.dinamica{
  background-image: url("/img/progettazione/dinamica/mmsystems-15.png");
  background-size: cover;
  background-position: 0 40%;
  background-color: white;
}

.metrologia{
  background-image: url("/img/attivita/metrologia/mmsystems-9.png");
  height: 88vh;
  background-size: cover;
  background-position: center;
}

.plc{
  background-image: url("/img/attivita/plc/mmsystems-6.png");
  height: 88vh;
  background-size: cover;
  background-position: center;

}

.robotica{
  background-image: url("/img/attivita/robotica/mmsystems-13.png");
  height: 88vh;
  background-size: cover;
  background-position: center;
}

.slide{
  display: flex;
  justify-content: center;
}

